body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f3f4;
}

.title {
  text-transform: uppercase;
  text-align: center;
  background-color: hsl(100, 100%, 47%);
  color: #fff;
  padding: 10px;
  letter-spacing: 2px;
}

.css {
  background-color: blue;
  padding: 10px;
  color: white;
  width: 100%;
  text-align: right;
  width: 50%;
}

.html {
  background-color: red;
  padding: 10px;
  color: white;
  width: 100%;
  text-align: left;
  width: 50%;
}
.js {
  background-color: violet;
  padding: 10px;
  color: white;
  width: 50%;
  text-align: center;
}

.para {
  padding: 10px;
  background-color: darkcyan;
  color: white;
  text-align: justify;
}
