:root {
  --dodgerblue: dodgerblue;
}
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: aquamarine;
  padding: 10px;
}

.create-account {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: var(--dodgerblue);
}

.create-account-form {
  background-color: #f2f3f4;
  margin: auto;
  min-height: 50vh;
  padding: 30px;
  width: 50%;
  border-left: 4px solid var(--dodgerblue);
  border-top: 4px solid var(--dodgerblue);
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--dodgerblue);
  color: #fff;
  text-transform: uppercase;
}
